.navbar {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
  margin: auto;
  width: 100%;
  height: 50px;
  z-index: 4;
}

.logo-top.navbar {
  z-index: 2;
  top: 50px;
  width: 100%;
}

.submit-search-btn.navbar,
.submit-search-btn.navbar:hover,
.submit-search-btn.navbar:active {
  position: relative;
  width: 88px;
  height: 20px;
  border: 1px solid white;
  border-radius: 35px;
  left: 100px;
  right: 0;
  top: -47px;
  margin: auto;
  font-size: 18px;
  padding: 5px;
  color: rgba(0, 0, 0, .6);
  cursor: pointer;
}
.submit-search-btn.navbar:active {
  box-shadow: inset 0 0 0 1px #5AFFF9, inset 0 2px 15px #5AFFF9;
}
.submit-search-btn > p.navbar {
  color: #5AFFF9;
  position: absolute;
  text-align: center;
  top: 2px;
  bottom: 0;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  height: 18px;
  font-weight: 300;
}

.navbar > div > p {
  margin: auto;
  top: -40px;
  position: relative;
}

.nav-line {
  background-color: white;
  position: relative;
  width: 310px;
  height: 1px;
  left: 0;
  right: 0;
  margin: auto;
  top: -54px;
  opacity: .3;
}
