<!DOCTYPE html>
<html>

<head>
  <title>Bed And Board</title>
  <base href="/"></base>
  <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,400' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='/styles/landing.css' />
  <link rel='stylesheet' href='/styles/utility.css' />
  <link rel='stylesheet' href='/styles/lib/date-picker.min.css' />
  <link rel='stylesheet' href='/styles/lib/structure.min.css' />
</head>

<body ng-app='BedAndBoard'>
  <div ui-view></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js'></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
  <script src='app.js'></script>
  <script src='app.config.js'></script>
  <script src='scripts/controllers/landing.js'></script>
  <script src='scripts/services/ConstantService.js'></script>
  <script src='scripts/services/GoogleMaps.js'></script>
  <script src='scripts/services/StateService.js'></script>
  <script src='scripts/directives/ngDatePicker.js'></script>
</body>

</html>
