<div ng-init='landingCtrl.initialize();'>
    <div ng-class='{ "add-opacity" : showBackground }' class='landing-overlay'></div>
    <div ng-class='{ "add-opacity" : showBackground }' class='background-img'></div>
  <div class='center-body'>
    <div class='logo-top'>
      <p>Bed <span>&</span> Board</p>
    </div>
    <form>
      <input id="autocomplete" class='search-input' name='location' placeholder='location'>
      <div ng-click='landingCtrl.onSubmit();' class='submit-search-btn'>
        <p>submit</p>
      </div>
    </form>
  </div>
</div>
